.coversprites { background-image: url(/img/covermosaic.png); background-color: transparent; background-repeat: no-repeat; }
.dogs { width: 212px; height: 310px; background-position: 0 0; border: 1px solid gray;}
.oldboyy { width: 212px; height: 310px; background-position: -213px 0; border: 1px solid gray;}
.space { width: 212px; height: 310px; background-position: -426px 0; border: 1px solid gray;}
.timessquare { width: 212px; height: 310px; background-position: -639px 0; border: 1px solid gray;}
