.sprites { background-image: url(/img/moviecollage2.png); background-color: transparent; background-repeat: no-repeat; }
.threehundred { width: 128px; height: 128px; background-position: -516px -516px; }
.eightmile { width: 128px; height: 128px; background-position: -1006px -1161px; }
.abeautifulmind { width: 128px; height: 128px; background-position: -258px -129px; }
.ahitchhikersguidetothegalaxy { width: 128px; height: 128px; background-position: -1032px -258px; }
.aladdin { width: 128px; height: 128px; background-position: -774px -516px; }
.alvinandthechipmunks { width: 128px; height: 128px; background-position: -645px -1290px; }
.amelie { width: 128px; height: 128px; background-position: -516px -258px; }
.americanpie { width: 102px; height: 102px; background-position: -516px -1161px; }
.angermanagement { width: 128px; height: 128px; background-position: 0 -903px; }
.apocalypsenow { width: 128px; height: 128px; background-position: -129px -1032px; }
.avatar { width: 128px; height: 128px; background-position: -774px -258px; }
.bandofbrothers { width: 128px; height: 128px; background-position: -516px -1290px; }
.batmanbegins { width: 128px; height: 128px; background-position: -258px -1161px; }
.battleroyale { width: 128px; height: 128px; background-position: 0 -1290px; }
.bladerunner { width: 128px; height: 128px; background-position: -387px -1290px; }
.blow { width: 128px; height: 128px; background-position: -645px -232px; }
.chocolat { width: 128px; height: 128px; background-position: -129px -129px; }
.citizenkane { width: 128px; height: 128px; background-position: 0 -774px; }
.clerks { width: 128px; height: 128px; background-position: -774px -645px; }
.coolrunnings { width: 128px; height: 128px; background-position: -129px -258px; }
.despicableme { width: 128px; height: 128px; background-position: 0 -645px; }
.dirtyharry { width: 128px; height: 128px; background-position: -387px -387px; }
.district9 { width: 128px; height: 128px; background-position: -516px 0; }
.django { width: 128px; height: 128px; background-position: -903px -516px; }
.dumbanddumber { width: 128px; height: 128px; background-position: -1032px -516px; }
.eternalsunshineofthespotlessmind { width: 128px; height: 128px; background-position: -129px -645px; }
.eyeswideshut { width: 128px; height: 128px; background-position: -258px 0; }
.fantasia { width: 128px; height: 128px; background-position: -516px -645px; }
.fantasticfour { width: 128px; height: 128px; background-position: -516px -903px; }
.fast6 { width: 128px; height: 128px; background-position: -645px -877px; }
.fightclub { width: 128px; height: 128px; background-position: -1032px -774px; }
.forrestgump { width: 128px; height: 128px; background-position: 0 -516px; }
.fromdusktilldawn { width: 128px; height: 128px; background-position: -903px -903px; }
.gangsofnewyork { width: 128px; height: 128px; background-position: -774px -903px; }
.gladiator { width: 128px; height: 128px; background-position: -748px -1161px; }
.harrypotter { width: 128px; height: 128px; background-position: -645px 0; }
.hitch { width: 128px; height: 128px; background-position: -129px -516px; }
.hollowman { width: 128px; height: 128px; background-position: -877px -1161px; }
.hugo { width: 128px; height: 128px; background-position: -903px -129px; }
.iceage { width: 128px; height: 128px; background-position: -645px -748px; }
.inception { width: 128px; height: 128px; background-position: -903px -1032px; }
.ipman { width: 128px; height: 128px; background-position: 0 -1032px; }
.jackiebrown { width: 128px; height: 128px; background-position: -645px -490px; }
.killbill { width: 128px; height: 128px; background-position: -258px -645px; }
.kingsspeech { width: 128px; height: 128px; background-position: -129px -1161px; }
.lostintranslation { width: 128px; height: 128px; background-position: -1032px -645px; }
.loveactually { width: 128px; height: 128px; background-position: -387px -1032px; }
.magnolia { width: 128px; height: 128px; background-position: -774px 0; }
.meettheparents { width: 128px; height: 128px; background-position: -516px -1032px; }
.memento { width: 128px; height: 128px; background-position: -129px -903px; }
.missionimpossible { width: 128px; height: 128px; background-position: -129px -1290px; }
.monstersball { width: 128px; height: 128px; background-position: -645px -1006px; }
.montypythonandtheholygrail { width: 128px; height: 128px; background-position: -516px -129px; }
.oceanstwelve { width: 128px; height: 128px; background-position: -903px -1290px; }
.oldboy { width: 128px; height: 128px; background-position: -774px -129px; }
.panslabyrinth { width: 128px; height: 128px; background-position: -258px -1032px; }
.passionofthechrist { width: 128px; height: 128px; background-position: -1032px -1032px; }
.pearlharbor { width: 128px; height: 128px; background-position: -516px -774px; }
.princessmononoke { width: 128px; height: 128px; background-position: -774px -774px; }
.prometheus { width: 128px; height: 128px; background-position: 0 -1161px; }
.psycho { width: 128px; height: 128px; background-position: -387px -645px; }
.pulpfiction { width: 128px; height: 128px; background-position: -387px 0; }
.punchdrunklove { width: 128px; height: 128px; background-position: -387px -903px; }
.rememberthetitans { width: 128px; height: 128px; background-position: -258px -516px; }
.scarface { width: 128px; height: 128px; background-position: -387px -1161px; }
.scream { width: 128px; height: 128px; background-position: -619px -1161px; }
.shawshankredemption { width: 128px; height: 128px; background-position: -903px -645px; }
.skyfall { width: 128px; height: 128px; background-position: -1032px 0; }
.sleeplessinseattle { width: 128px; height: 128px; background-position: -1032px -1290px; }
.spiderman2 { width: 102px; height: 102px; background-position: -645px -129px; }
.startrek { width: 128px; height: 128px; background-position: -903px -258px; }
.teamamerica { width: 128px; height: 128px; background-position: -1032px -903px; }
.terminator { width: 128px; height: 128px; background-position: 0 -258px; }
.the40yearoldvirgin { width: 128px; height: 128px; background-position: -774px -1290px; }
.thebiglebowski { width: 128px; height: 128px; background-position: -903px -387px; }
.thebutterflyeffect { width: 128px; height: 128px; background-position: -258px -1290px; }
.thedarkknight { width: 128px; height: 128px; background-position: -258px -258px; }
.thefall { width: 128px; height: 128px; background-position: -645px -361px; }
.thegodfather { width: 128px; height: 128px; background-position: -903px 0; }
.thegreenmile { width: 128px; height: 128px; background-position: -516px -387px; }
.thehours { width: 128px; height: 128px; background-position: -387px -258px; }
.thematrix { width: 128px; height: 128px; background-position: -258px -387px; }
.thenotebook { width: 128px; height: 128px; background-position: -129px -387px; }
.theprestige { width: 128px; height: 128px; background-position: -387px -774px; }
.therewillbeblood { width: 128px; height: 128px; background-position: -129px 0; }
.thering { width: 128px; height: 128px; background-position: 0 -129px; }
.theusualsuspects { width: 128px; height: 128px; background-position: -774px -387px; }
.thevillage { width: 128px; height: 128px; background-position: 0 0; }
.thewizardofoz { width: 128px; height: 128px; background-position: -129px -774px; }
.titanic { width: 128px; height: 128px; background-position: -387px -516px; }
.toystory { width: 128px; height: 128px; background-position: -645px -619px; }
.transformers2 { width: 128px; height: 128px; background-position: -1032px -387px; }
.twilight { width: 128px; height: 128px; background-position: 0 -387px; }
.unbreakable { width: 128px; height: 128px; background-position: -258px -903px; }
.vampirehunter { width: 128px; height: 128px; background-position: -903px -774px; }
.vanillasky { width: 128px; height: 128px; background-position: -387px -129px; }
.whenharrymetsally { width: 128px; height: 128px; background-position: -1032px -129px; }
.yellowsubmarine { width: 128px; height: 128px; background-position: -258px -774px; }
.zoolander { width: 128px; height: 128px; background-position: -774px -1032px; }
